VisualTime/SrcTools/Enlace SAGE/VTSAGE200CServicio/Web References/ExternalApi/ExternalApi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44365/datalink/ExternalApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" />
  <xs:element name="CreateOrUpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="oEmployee" nillable="true" type="q1:roDatalinkStandarEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrUpdateEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="oDocument" nillable="true" type="q2:roDatalinkStandardDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="CreateOrUpdateDocumentResult" nillable="true" type="q3:roDatalinkStandarDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccruals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="oAccrualCriteria" nillable="true" type="q4:roDatalinkStandarAccrualCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccrualsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="GetAccrualsResult" nillable="true" type="q5:roDatalinkStandarAccrualResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbsences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="oAbsenceCriteria" nillable="true" type="q6:roDatalinkStandarAbsenceCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbsencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="GetAbsencesResult" nillable="true" type="q7:roDatalinkStandarAbsenceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="oCalendar" nillable="true" type="q8:roDatalinkStandarCalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrUpdateCalendarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateAbsence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="oAbsence" nillable="true" type="q9:roDatalinkStandarAbsence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateAbsenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrUpdateAbsenceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateHolidays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="oHolidays" nillable="true" type="q10:roDatalinkStandarHolidays" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateHolidaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrUpdateHolidaysResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="GetPunchesResult" nillable="true" type="q11:roDatalinkStandardPunchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunchesBetweenDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunchesBetweenDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="GetPunchesBetweenDatesResult" nillable="true" type="q12:roDatalinkStandardPunchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPunches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="oPunchList" nillable="true" type="q13:ArrayOfroDatalinkStandardPunch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPunchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Robotics.ExternalSystems.DataLink.RoboticsExternAccess" minOccurs="0" name="AddPunchesResult" nillable="true" type="q14:roDatalinkStandardPunchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>